footer {
    .ikon{
        color: red;
    }
    p{
        color: #8d8b8b;
    }
    padding: 4rem 0rem;
    .container {
      max-width: 1200px;
      margin: auto;
      padding-top: 2rem;
  
      .col1 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        ul {
          gap: 1rem;
          li {
            p {
              width: 50%;
            }
          }
        }
      }
  
      .col2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        ul {
          gap: 1rem;
          li {
            a {
              color: #8d8b8b;
              transition: 0.3s;
              display: inline-block; 
              &:hover {
                color: red;
                animation: zoom-in-out 0.6s forwards; 
              }
  
              @keyframes zoom-in-out {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
  }
  